# Google Sheets CSV/pubhtml URL
VITE_SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vR4lQFbpqm66h6oZQaFG6AT5QwTkwfy7yaE-7O1FqFPrtx4inFQ9vbw43sICVVp6M8b6c6jAIKH4adM/pubhtml?gid=1226834802&single=true
